.Home
  lost-center 980;
.Home--content
  position absolute

  z-index 1
  top 45%
  left 50%
  transform translate(-50%, -50%)
.console--loader
  margin 16px auto
.vue-typer .custom.char
  color #0f0
  // background-color: #1E1E1E;
.vue-typer .custom.caret
  width 10px
  background-color transparent
.console-links
  cursor pointer
.console--mainmessage
  max-width 80%
  margin 0 auto
  text-align left
